# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache
env/

# Node.js
node_modules/
npm-debug.log*

# Docker
*.log
*.pid
docker-compose.override.yml

# Build and artifacts
build/
*.sol.js
/cli/abi.json

# Misc.
.vscode/
.idea/
*.swp
.env
